<!DOCTYPE html>
<html lang="en">

{% include('layout/head.html.twig') %}

<body>

	{% include('layout/header.html.twig') %}

	{% block content %}{% endblock %}

	{% include('layout/footer.html.twig') %}

	{% include('layout/script.html.twig') %}

</body>

</html>