<!-- ======= Top Bar ======= -->
<section id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="text-roboto" style="position: absolute; top: 0;">
            <img width="40" src="assets/images/icon-label.png" alt="label">
            <span>Gratis Ebook 9 Cara Cerdas Menggunakan Domain [ x ]</span>
        </div>
        <div class="contact-info d-flex align-items-center">
            
        </div>
        <div class="social-links d-none d-lg-flex">
            <i class="bx bxs-phone d-flex align-items-center ms-5"></i> &nbsp; <span class="text-roboto">0274-5305505</span>
            <i class="bx bxs-conversation d-flex align-items-center ms-5"></i> &nbsp; <span class="text-roboto">Live Chat</span>
            <i class="bx bxs-user-circle d-flex align-items-center ms-5"></i> &nbsp; <span class="text-roboto">Member Area</span>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <!-- <h1><a href="index.html">My<span>Biz</span></a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="javascript:void(0)"><img src="assets/images/niagahoster-logo-white.jpg" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar text-roboto">
            <ul>
                <li><a class="nav-link scrollto active" href="javascript:void(0)">Hosting</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Domain</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Server</a></li>
                <li><a class="nav-link scrollto " href="javascript:void(0)">Website</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Afiliasi</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Promo</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Pembayaran</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Review</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Kontak</a></li>
                <li><a class="nav-link scrollto" href="javascript:void(0)">Blog</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->